<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160739894209-p4jhhb0s5uik2i19j4q8bberc3i3smvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160739894209-p4jhhb0s5uik2i19j4q8bberc3i3smvg</string>
	<key>API_KEY</key>
	<string>AIzaSyCM-VBLPdoPwqGh5OHQYviJn-WIqZNxHeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>160739894209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-52fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-52fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160739894209:ios:14702543ef0be6a69e0540</string>
</dict>
</plist>